body {
    background-color: rgb(250, 250, 176);
    color: black;
    margin: 0;
}
nav{
    background-color: rgb(248, 183, 86);
    color: black;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
nav a:hover{
     color: #38bdf8;
}
header {
    background-color: #c45a35;
    color: white;
    padding: 60px 20px;
    text-align: center;
    line-height: 1.5;
}
header h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 1px;
}
header h2 {
    font-size: 20px;
    margin: 10px 0 0;
}
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
    background-color: #f1b97d;
}
section h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 30px;
}
.cards-habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards-habilidades article {
    background-color: hsl(39, 86%, 80%);
    color: black;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    flex: 1 1 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);    
    transition: transform 0.2s
}
.cards-habilidades h3 {
    margin-top: 0;
    font-size: 22px;
}
.cards-habilidades ul {
    padding-left: 20px;
}
.cards-habilidades article:hover {
    transform: translateY(-5px);
}
.cards-projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.cards-projetos article {
     background-color: rgb(174, 248, 224);
    color: black;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid black;
    flex: 1 1 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.cards-projetos h3 {
    margin-top: 0;
    font-size: 22px;
}
.cards-projetos ul {
    padding-left: 22px;
}
.cards-projetos article:hover {
    transform: translateY(-5px);
}
@media (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    header h1 {
        font-size: 30px;
    }
    .cards-habilidades,
    .cards-projetos {
        flex-direction: column;
    }
}
